In [1]:
cars = ("Toyota", "Honda", "Suzuki")
print(cars)

('Toyota', 'Honda', 'Suzuki')

In [2]:
len(cars)

3

In [3]:
tuple1 = ("Person", 34, True, 40, "male")
print(tuple1)
print(tuple1[2:4])

('Person', 34, True, 40, 'male')
(True, 40)

In [4]:
if 40 in tuple1:
    print('YES')

YES

In [5]:
print(tuple1)

('Person', 34, True, 40, 'male')

In [6]:
print(tuple1)
x = list(tuple1)
x[1] = 35
tuple1 = tuple(x)

print(tuple1)

('Person', 34, True, 40, 'male')
('Person', 35, True, 40, 'male')

In [7]:
tuple1 += ('Hello',)
print(tuple1)

('Person', 35, True, 40, 'male', 'Hello')

In [8]:
print(tuple1)
(alpha,num,boool,num2,gender,text) = tuple1
print(alpha,num,boool,num2,gender,text)

('Person', 35, True, 40, 'male', 'Hello')
Person 35 True 40 male Hello